.button{
    background-color: black;
    color: white;
   border-radius: 5px;
   margin: 10%;
   cursor: pointer;
   width: 30%;
   min-width: 50px;
   height: 30px;
}

.button:hover{
    background-color: white;
    color: purple;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 50%;

}